$primary: #e0e0e0;
$secondary: #f1eded;
$border-color: rgb(172, 163, 163);
$message-info: rgb(22, 209, 22);


$border: 1px solid $border-color;

$z-index-sidebar: 1000;
$z-index-header: 1000;
$z-index-modal: 1010;
$sidebar-width: 325px;